/* Global */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  z-index: 100;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  min-height: 40vh;
}

/* Cabeçalho (Header) */
.logo {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

/* Estilo para o botão do menu */
#mobile-menu-button {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#mobile-menu-button svg {
  fill: white;
}

/* Estilo para o menu lateral */
#mobile-menu {
  z-index: 10;
}

/* Hero Section */
.hero {
  min-height: 800px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Seções */
section {
  padding: 3rem 0;
}

/* Rodapé (Footer) */
footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

/* Imagem Responsiva */
.rounded-lg.shadow-md img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Responsividade (Media Queries) */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .grid-cols-1,
  .md\:grid-cols-2,
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin-top: 1rem;
    flex-direction: column;
    text-align: center;
  }

  nav li {
    margin-bottom: 0.5rem;
  }
}

/* Estilos para a classe text-gray-700 */
.text-gray-700 {
  font-size: large;
}