/* Fallback para Google Fonts - Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Arial'), local('Helvetica'), local('sans-serif');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Arial'), local('Helvetica'), local('sans-serif');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Arial'), local('Helvetica'), local('sans-serif');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Arial'), local('Helvetica'), local('sans-serif');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Arial'), local('Helvetica'), local('sans-serif');
}
